@font-face {
    font-family: 'CursedTimerUlil';
    src: url('./fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #deeae2;
    
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fffeff;
    border-radius: 8px;
    max-width: 575px;
    height: 385px;
    margin: 0 auto;
    margin-block: 0;
    background-color: #18254e;
    padding: 1rem;
    
}

h3 {
    color: #f7f4f3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
}
.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.scoreboard .score {
    color: #f8506c;
    font-family: 'CursedTimerUlil', monospace;
    font-size: 90px;
    background-color: #080001;
    display: block;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    width: 155px;
    height: 120px;
}

.buttons {
    display: flex;
    gap: 9px;
    justify-content: center;
    font-size: 18px;
    
}
.buttons > button {
    border-radius: 5px;
    background-color: transparent;
    border-color: #9AABD8;
    color: #9AABD8;
        font-family: 'CursedTimerUlil', monospace;
        aspect-ratio: 1;
        width: 45px;

}
